body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

h6 {
    font-size: 25px;
    color: green;
    text-transform: uppercase;
}

h1 {
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
}

h1 strong {
    color: green;
}

.seccion1 {
    height: 300px;
    background-color: #1b2127;
    background-image: url('../imagenes/el\ yo\ .jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin: 0px;
    display: flex;
    align-items: center;
}

.seccion2 {
    background-color: #fafafa;
    padding: 20px;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 30px;
}

.pro {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-details {
    width: 500px;
    font-size: 30px;
    margin-top: 0;
    margin: 10px;
}

.pro-details h6 {
    margin: 10px 0;
}

.pro-details p {
    margin: 10px 0;
    font-size: 20px;
}

.pro-details strong {
    font-family: 'Times New Roman', Times, serif;
}

.pro_IMG_cont {
    wi
}

.header {
    background-color: #1b2127;
    color: width;
    display: flex;
    height: 90px;
    jus
}

nav .nac_options {
    display: flex;
    justify-content: space-between;
}

.header a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;
}

.header img {
    width: 80px;
}


/* pie de pagina */

footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: blue;
    text-decoration: none;
    font-family: Arial;
}